
<div class="row">
  <div class="col-12">
    <h3 class="mt-10 titulo-pagina">Serviços</h3>
    <p>Selecione uma opção abaixo:</p>
  </div>
<!--   <div class="col-12 mt-10">
      <a class="btn btn-primary btn-lg active" target="_blank" rel="noopener" >
      <span [routerLink]="['/matricula-on-line']">Matrícula On-line</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>   
     </a>
  </div>

  <div class="col-12 mt-10">
      <a class="btn btn-primary btn-lg active" target="_blank" rel="noopener" >
          <span>Certidão Digital do Imóvel</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
   </div>
   
  <div class="col-12 mt-10">
    <a class="btn btn-primary btn-lg active" target="_blank" rel="noopener">
        <span>Certidão Digital do Imóvel</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
  </div> -->
</div>

<div class="col-12">
    <div class="row borda" [routerLink]="['/matricula-on-line']" >
      <!-- <div class="col-3 mt-10">
          <img height="60px" src="../assets/img/68116.svg">
      </div> -->

      <div class="col-12 fc-branco">
          <span class="fs-16 ">Matrícula do Imóvel</span> <br>
          <span class="fs-24 "><strong>$59,99 </strong></span> <br>
          <span class="fs-10">*Envio Express em até 4 horas</span> 
      </div> 
      <!-- <div class="col-2 mtop-5">
          <img src="../assets/img/seta-lateral.svg">
      </div> -->
    </div> 
</div>


<div class="col-12">
    <div class="row borda">
      <!-- <div class="col-3 mt-10">
          <img height="60px" src="../assets/img/68116.svg">
      </div> -->

      <div class="col-12 fc-branco">
          <span class="fs-16 ">Certidão Digital do Imóvel</span> <br>
          <span class="fs-24 "><strong>R$199,90 </strong></span> <br>
          <span class="fs-10">*Envio Express em até 4 horas</span> 
      </div> 
      <!-- <div class="col-2 mtop-5">
          <img src="../assets/img/seta-lateral.svg">
      </div> -->
    </div> 
</div>


