
<!-- Toolbar -->
<nav class="background-azul container">
  <div class="row">

        <div class="col-6">
              <h6><a class="navbar-brand" href="#">Cartório Facil</a></h6>
        </div>
        <div class="col-6 text-right">
          <img src="../assets/img/carrinho.svg">
        </div>
     
  </div>


</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>

</footer>
<script>
 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
</script>