<div class="row">
    <div class="col-12">
      <h3 class="mt-10 titulo-pagina">Solicitante</h3>
      <p>Dados do Solicitante</p>
    </div>
</div>

<div class="row">
  <div class="col">

      <form class="example-form">

        <mat-form-field class="full-width" >
          <input matInput placeholder="Nome" [(ngModel)]="model.nomeSolicitante"  value="Sushi" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" [(ngModel)]="model.email" name="email"  aria-describedby="email" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Celular" [(ngModel)]="model.celular" name="celular"  id="celular" aria-describedby="celular" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <div class="col-12 text-right">
            <button type="button" class="btn btn-primary" (click)="adicionarEndereco()">Proximo Passo</button>
        </div>    
        
      </form>
        

  <!--   <form>
          <div class="form-group" >
            <label for="nome">Nome Solicitante</label>
            <input type="text" [(ngModel)]="model.nomeSolicitante" name="nome"  class="form-control" aria-describedby="nome" [ngModelOptions]="{standalone: true}">
            <small id="nomeSolicitante" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text"  [(ngModel)]="model.email" name="email" class="form-control" aria-describedby="email" [ngModelOptions]="{standalone: true}">
            <small id="email" class="form-text text-muted"></small>
          </div>

          <div class="form-group">
            <label for="celular">Celular</label>
            <input type="text" [(ngModel)]="model.celular" name="celular" class="form-control" id="celular" aria-describedby="celular" [ngModelOptions]="{standalone: true}">
            <small id="celular" class="form-text text-muted"> </small>
          </div>

          <div class="col-12 text-right">
            <button type="button" class="btn btn-primary" (click)="adicionarEndereco()">Proximo Passo</button>
          </div>    
     </form> -->
  </div>
</div>