<div class="row">
<div class="col">
  <form>
      <fieldset >
        <legend>Dados do Solicitante</legend>
        <div class="form-group" >
        <label for="nome">Nome Solicitante</label>
        <input type="input" [(ngModel)]="model.nomeSolicitante" name="nome"  class="form-control" aria-describedby="nome" [ngModelOptions]="{standalone: true}">
        <small id="nomeSolicitante" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="input"  [(ngModel)]="model.email" name="email" class="form-control" aria-describedby="email" [ngModelOptions]="{standalone: true}">
          <small id="email" class="form-text text-muted"></small>
        </div>

        <div class="form-group">
          <label for="celular">Celular</label>
          <input type="celular" [(ngModel)]="model.celular" name="celular" class="form-control" id="celular" aria-describedby="celular" [ngModelOptions]="{standalone: true}">
          <small id="celular" class="form-text text-muted"> </small>
        </div>

        <button type="button" class="btn btn-primary" (click)="adicionarEndereco()">Adicionar endereço >></button>
      </fieldset>    
    
 
</form>
</div>
</div>