<div class="row">
<div class="col">
  <form>
      <fieldset *ngIf="passo1" >
        <legend>Dados do Solicitante</legend>
        <div class="form-group" >
        <label for="nome">Nome Solicitante</label>
        <input type="nomeSolicitante" #name="ngModel" ngModel  class="form-control" aria-describedby="nome" [ngModelOptions]="{standalone: true}">
        <small id="nomeSolicitante" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" ngModel #name="ngModel" class="form-control" aria-describedby="email" [ngModelOptions]="{standalone: true}">
          <small id="email" class="form-text text-muted"></small>
        </div>

        <div class="form-group">
          <label for="celular">Celular</label>
          <input type="celular" #name="ngModel" ngModel class="form-control" id="celular" aria-describedby="celular" [ngModelOptions]="{standalone: true}">
          <small id="celular" class="form-text text-muted"> </small>
        </div>
      </fieldset>


    <fieldset *ngIf="passo2">
      <legend>Dados do Imovel</legend>

      <div class="form-group">
          <label for="exampleInputEmail1">Cidade</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
    
        <div class="form-group">
          <label for="exampleInputEmail1">Endereço do Imóvel</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
    
        <div class="form-group">
          <label for="exampleInputEmail1">Estado</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
    
        <div class="form-group">
          <label for="exampleInputEmail1">Cartorio de Registro de Imovel</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
    
        <div class="form-group">
          <label for="exampleInputEmail1">numero da Matricula</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>

    </fieldset>

    
    
  <button type="button" class="btn btn-primary" (click)="adicionarEndereco()">Adicionar endereço >></button>
</form>
</div>
</div>