<div class="row">
        <div class="col-12">
          <h3 class="mt-10 titulo-pagina">Pedido</h3>
          <p>Dados do Pedido</p>
        </div>
    </div>
<div class="row">
    <div class="col s12 m6">
        
        <label class="fs-12 label-detalhes">Nome Solicitante:</label> <br> {{solicitacao.nomeSolicitante}} 
        <hr class="my-2">
        
        <label class="fs-12 label-detalhes">Email:</label> <br> {{solicitacao.email}} 
        <hr class="my-2">

        <label class="fs-12 label-detalhes">Celular:</label> <br> {{solicitacao.celular}}
         <hr class="my-2">
         
    </div>        
</div>
<div class="row">
<!--         <div class="col-12">
            <h6>Matriculas Solicitadas</h6>
        </div>   -->  
</div>
<div class="row mt-4">

        <div class="col-12">

            <div class="row">
                    <div class="col-6"><h6>Itens Solicitados</h6></div>
                 <div class="col-6 text-right">
                    <a class="" rel="noopener" [routerLink]="['/form-matricula']"> + Nova Matrícula </a>
                 </div>
             </div>    
             
        </div>        
</div>

<div class="">
        <ul class="list-group" >
            <li class="list-group-item" *ngFor="let imovel of solicitacao.listaImoveis">
                 <div class="row">
                     <div class="col-8">
                            {{ imovel.endereco}}
                     </div>
                     <div class="col-2">
                            <a class="" style="font-size: 8px;" (click)="editar(imovel)"> <i class="far fa-edit fa-2x"></i> </a>
                          
                     </div>    
                     <div class="col-2">
                            <a class="" style="font-size: 8px;" (click)="remover(imovel)"> <i class="far fa-trash-alt fa-2x"></i> </a>
                     </div>
                 </div>
                
            </li>
            
        </ul>

      
</div>

<div class="row mt-4">
    <div class="col-6 text-center">
        <button type="button" class="btn btn-primary" (click)="finalizar()">Finalizar</button>
    </div>
    <div class="col-6 text-center">
        <button type="button" class="btn btn-primary" (click)="addNovo()">Incluir Novo</button>
    </div>    
        
</div>