<div class="row">
    <div class="col-12">
      <h3 class="mt-10 titulo-pagina">Imóvel</h3>
      <p>Dados do Imovél</p>
    </div>
</div>

<div class="row">
        <div class="col">
          <form>
                <mat-form-field class="full-width" >
                  <input matInput placeholder="Cidade"  type="text" [formControl] = "cidade"  [(ngModel)]="imovel.cidade" name="cidade" id="cidade" aria-describedby="cidade">
                </mat-form-field>

                <mat-form-field class="full-width" >
                    <input matInput placeholder="Endereço do Imóvel" [formControl] = "endereco"  [(ngModel)]="imovel.endereco" >
                </mat-form-field>

                <mat-form-field  class="full-width">
                    <mat-label>Estado</mat-label>
                    <mat-select [formControl]="estado" name="estado" [(ngModel)]="imovel.estado">
                      <mat-option *ngFor="let estado of estados" [(value)]="estado" name="estado"  >
                        {{estado}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                
                <mat-form-field class="full-width" >
                    <input matInput placeholder="Cartório de Registro de Imóvel" [formControl] = "cartorioRegistro"  [(ngModel)]="imovel.nomeCartorio"  >
                </mat-form-field>

                <mat-form-field class="full-width" >
                    <input matInput placeholder="Número da Matrícula" [formControl] = "numeroMatricula" [(ngModel)]="imovel.numMatricula">
                </mat-form-field>

                
                <div class="col-12 text-right">
                    <button type="button" class="btn btn-primary" (click)="finalizar()">Adicionar</button>
                </div>
         
        </form>


        <!-- <form class="example-form">

            <mat-form-field class="full-width" >
              <input matInput placeholder="Nome" [(ngModel)]="model.nomeSolicitante"  value="Sushi" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" [(ngModel)]="model.email" name="email"  aria-describedby="email" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
    
            <mat-form-field class="full-width">
              <input matInput placeholder="Celular" [(ngModel)]="model.celular" name="celular"  id="celular" aria-describedby="celular" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
    
            <div class="col-12 text-right">
                <button type="button" class="btn btn-primary" (click)="adicionarEndereco()">Proximo Passo</button>
            </div>    
            
          </form> -->
        

    </div>
</div>